*{
  background:aliceblue;
  padding: 0px;
}
#cabecera{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #333;
}
.indice{
  float: left;
}
li a{
  color: aliceblue;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background: #333;
}
section{
  margin-top: 50px;
}
