*{
  background:aliceblue;
  padding: 0px;
}
#cabecera{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  box-shadow:1px 1px 10px 1px cadetblue ;
  left: 0;
  top: 0;
  width: 100%;
  background: #295c97;
}
.indice{
  float: left;
}
li a{
  color: aliceblue;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background: #295c97;
  text-shadow: 1px 1px 10px 10px black;
}
section{
  margin-top: 50px;
}
#home{
  text-transform: capitalize;
}

